*{ 
	margin: 0;
	border: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container{
    background-color: white;
   
	width: 100%;
	margin-top: 100px;
    
}

.body{
	background: white;
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
	width: 	100%;
}
.tituloginfondo{
	background-color: #999999;
}
.input-contenedor{
    margin-bottom: 15px;
    border: 1px solid rgb(158, 155, 155);
}
.loginfondo{
	background-color: #7f69a5;
    margin: 0;
    height: 500px;
}
.panel-heading {
    text-align: center;
    color: #1a2537;
    font-size: 15px;
}

.panel-body{
	padding-right: 0px;
	padding-left:0px;
}
.pull-right{
	padding: 0px;
}	
.panel-success>.panel-heading {
    height: 34px;
    padding: 15px;
}  
.panel{
	border-radius: 0px;
	height: 34px;
	 border:0px;
}
#eliminarnegro{
	color: black;
}  

#header1{
	height: 20%;
	background-color: #564954;
}

#usu{ 
	color: goldenrod;
	font-size: 15px;
}
button.close{
	margin: 10px;
}
.btn-warning {
    color: #fff;
    background-color: #E07416;
    border-color: #E07416;
    font-size: 1.5em;
    float: left;
}

p{
	text-align: center;
    color: green;
    font-size: 30px;

}

.floatright{
	float: right;
	font-size: 1.5em;
	color: #54194d;
}


h3{
	color: #333;
	font-family: "Sylfaen";
	font-size: 2rem;
}

h1{
    text-align: center;
    color: #1a2537;
    font-size: 40px;
}

h2{
	text-align: center;
}
h3{
    text-align: center;
    color: #1a2537;
    font-size: 20px;
}

h4{
	color: #333;
	overflow: hidden;
	white-space: nowrap;
}


.btn-menu {
	display: none;	
	padding: 20px;
	background: #424242;
	color: white;

}
.btn{
	border-radius: 0px;
}
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover {
    background-color: #8a858a;
    border-color: #8a858a;
}


.btn-menu .icono{
	float: right;
}

.contenedor-menu{
	
	padding:0;
	background: #424242;	
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
}
.contenedor-section{
	height:510px;
	padding: 0;
	
	overflow: scroll;
	display: inline-block;
	font-family: 'Roboto', sans-serif;
	line-height: 18px;
}
.contenedor-section1{
	overflow: hidden;
	width: 83%;
		height:550px;
		padding: 0;
}

.contenedor-menu .menu{
	width: 100%;
}

.contenedor-menu ul {
	list-style: none;
}
a:focus, a:hover {
	color: gray;
	text-decoration: 	none;
}

.contenedor-menu .menu li a{
	color: #494949;
	display: block;
	padding: 15px 10px;
	background: #dff0d8 	;
}

.contenedor-menu .menu li a:hover{
	background: #FF7A08;
	color:white;
	/*border-left: solid gray;*/
	
}

.contenedor-menu .menu .icono{
	font-size: 12px;
	line-height: 18px;
}

.contenedor-menu .menu .icono.izquierda{
	float: left;
	margin-right: 10px;
}

.contenedor-menu .menu .icono.derecha{
	float: right;
	margin-left:  10px;
}

.contenedor-menu .menu ul{
	display: none;
}

.contenedor-menu .menu ul li a{
	background: #424242;
	color: #e9e9e9;
}

.contenedor-menu .menu .activado > a{
	background: #FF7A08;
	color: white;
}

section table tr td input{
	width:90%;
	height:35px;
	outline:none;
	font-size:14px;
}
.registros{
	margin:auto;
	width:1000px;
	margin-top:20px;
	border:1px solid #6F96DF;
	height:auto;
	padding:10px;
}

.formulario table tr td{
	padding:10px;
}
.formulario table tr td input{
	width:100%;
	outline:none;
}
.formulario table tr td select{
	width:100%;
	height:30px;
	outline:none;
}
.bien{
	border: none;
    width: 100%;
    color: white;
    font-size: 20px;
    background:  #4caea7;
    padding: 15px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-success {
	text-align: center;
    font-size: 20px;
	color: #fff;
	background-color: #4caea7;
	border-color: #4caea7;
	
  }
@media screen and (max-width: 768px){
	
	.container {
    width: 100%;
	}
	.contenedor-menu{
		margin: 0px;
		width: 100%;
		z-index: 1000;
	}
	.contenedor-section{
		/*position: fixed;*/
		width: 100%;
		height:550px;
		padding: 0;
	}
	.contenedor-section1{
		width: 100%;
		height:550px;
		padding: 0;
		overflow: scroll;
	}
	.loginfondo{
    height: 350px;
	}
	.btn-menu{
		display: block;
	}
	.contenedor-menu .menu{
		display: none;
	}
	.logosena{
		display: none;
	}
	
}
@media screen and (max-width: 768px){
	.logosena{
		display: none;
	}
	.contenedor-section0{
	
	padding: 0;
}
}
@media (min-width: 768px){

	.container {
    width: 100%;
}
    #footer1{
	height: 100px;
}
		.smenu{
	height:600px;
}
		.contenedor-section0{
	height:580px;
	padding: 0;
}

.alert {
	position: absolute;
	top: 0px;
	left: 20px;
	text-align: center;
    font-size: 15px;
	padding: 0px;
	margin-bottom: 0px;
	border: 1px solid transparent;
	border-radius: 10px;
  }

 
}
